.footer {
  padding: 2rem 5rem;
  margin-top: 1000px;
  background: darkgrey;
  display: grid;
  grid-template-columns: 25% 20% 20% 35%;
  grid-template-rows: 25% 100px auto;
  justify-items: center;
}